* {
  scroll-behavior: smooth;
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

a {
  padding: 0.625rem;
}

h2 {
  padding: 0.313rem;
  color: #4a5053;
}

h3 {
  padding: 0.313rem;
  color: #4a5053;
}

h4 {
  padding: 0.938rem;
  color: #3f464b;
  font-weight: 600;
}

p {
  padding-left: 0.313rem;
  padding-bottom: 0.313rem;
  color: #82898f;
}

#content-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3f464b;
  letter-spacing: 3px;
  padding-top: 1.875rem;
  margin-top: 3.125rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5vh;
}

.logo {
  letter-spacing: 2px;
  font-size: 1rem;
  color: grey;
}

.nav-links {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  width: 15%;
  background-color: white;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 1rem;
  color: grey;
}

.nav-links a:hover {
  transition: all ease-in-out 200ms;
  border-bottom: 2px solid grey;
}


.burger {
  cursor: pointer;
}

.burger div {
  background-color: #3f464b;
  width: 25px;
  height: 3px;
  margin: 0.313rem;
  transition: all 0.5s ease;
}

.fas {
  color: #3f464b;
  position: relative;
}

#parent-glass-burger {
  text-align: center;
  display: flex;
  font-size: 1.2rem;
}

#child-glass-burger{
  display: inline-block;
  padding-right: 0.625rem;
  vertical-align: middle;
}

.hero {
  background: linear-gradient(#0006, #0006),
    url(https://i.pinimg.com/originals/b2/04/0f/b2040fe237b70e9e34f61ff5e791cff0.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-headline {
  margin: 0;
  font-size: 3rem;
  color: #fff;
  font-weight: 400;
  display: flex;
  justify-content: center;
  filter: drop-shadow(3px 3px 5px white);
}

.hero-inner {
  color: white;
  text-align: center;
  padding: 0 1.5rem;
  display: flex;
  justify-content: center;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 1.875rem;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  margin: 2.5rem 0;
  padding: 0rem;
}

.cards {
  display: grid;
  gap: 1rem;
  max-width: 900px;
  margin: 0 auto;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  /*grid-template-columns: repeat(2, minmax(240px, 1fr));*/
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 400ms ease-in;
  height: auto;
  margin: 0;
  background-color: white;
}

.card__image {
  height: 12rem;
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .hero-headline {
    text-align: center;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 15vh;
    top: 1vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle-icon .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle-icon .line2 {
  opacity: 0;
}

.toggle-icon .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
